*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}
body {
    background-color: #1B1B1B;
    display: grid;
    place-items: center;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    letter-spacing: 0.02em;
    font-weight: 500;
}
body > section {
    width: 95%;
    height: 90%;
    border-radius: 30px;
    margin: 30px;
}

/* ***** Landing Page ***** */
.landing_page_container{
    display: grid;
    place-items: center;
    background-color: #E5E5E5;
}
.landing_page_outline {
    display: grid;
    place-items: center;
    border: 3px solid #838383;
    width: 97%;
    height: 95%;
    border-radius: 30px;
}
.landing_page_text_links_and_logo_container {
    display: grid;
    place-items: center;
    grid-template-columns: 2fr 1fr;
    width: 90%;
    margin-top: 10%;
}
/* Landing page tex t*/
.landing_page_text_and_links_container {
    margin-left: 10%;
    width: 100%;
}
.landing_page_text_and_links_container :first-child {
    font-size: 1.5rem;
    color: #838383;
}
.landing_page_text_and_links_container :nth-child(2) {
    font-size: 2.5rem;
    color: #474040;
}
.landing_page_text_and_links_container :nth-child(3) {
    font-size: 3rem;
    color: #F72424;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-decoration: underline;
}
.landing_page_text_and_links_container :nth-child(4) {
    font-size: 1.5rem;
    color: #474040;
    width: 80%;
}
/* link_container */
.link_container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1.5fr;
    width: 35%;
    margin-left: -1%;
}
.link_container > button {
    border-style: none;
    background-color: transparent;
}
.link_container > button > a > svg {
    width: 50px;
    height: 50px;
}
.link_container > button > a > svg:hover {
    width: 55px;
    height: 55px;
}
.link_container > button > a > svg > path {
    fill: #858585;
}
.link_container > button > a > svg > path:hover {
    cursor: pointer;
    fill: rgb(30, 30, 30);
}   
.my_logo_container > img{
    width: 30vw;
    object-fit: cover;
    padding-bottom: 100px;
}

/* ***** About me ***** */
.text_container {
    color: #E5E5E5;
    font-size: 4rem;
    background-color: #5A5A5A;
    border-radius: 30px;
    text-align: center;
    margin-bottom: 15px;
}
.about_me_body_container {
    width: 100%;
    height: 80%;
    display: grid;
    grid-template-columns: 1fr 0.35fr;
    gap: 15px;
}
.left_side_body_container {
    display: grid;
    grid-template-rows: 0.5fr 0.2fr 1fr;
    gap: 15px;
}
.left_side_first_element {
    padding: 10px;
    font-size: 1.5rem;
    background-color: #E5E5E5;
    border-radius: 30px;
}
.left_side_second_element {
    background-color: #5A5A5A;
    border-radius: 30px;
    text-align: center;
    color: #E5E5E5;
    font-size: 3rem;
}
.left_side_third_element{
    background-color: pink;
    border-radius: 30px;
    display: grid;
    place-items: center;
    grid-template-rows: repeat(5,1fr);
}
.left_side_third_element > div > button {
    font-size: 3rem;
    color: #E5E5E5;
    background-color: transparent;
    border-style: none;
}

.html_element {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    display: grid;
    place-items: center;
    background-color: #F15C2A;
    width: 100%;
    height: 100%;
}
.css_element {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    background-color: #1774BB;
}
.bootstrap_element {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    background-color: #7A11F8;
}
.javascript_element {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    background-color: #FCB041;
}
.node_js_element {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    background-color: #8BC500;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.right_side_body_container {
    display: grid;
    grid-template-rows: 0.1fr 1fr;
    gap: 15px;
}
.right_side_body_container > button {
    border-style: none;
    border-radius: 30px;
}
.resume_element :hover {
    background-color: #bebebe;
    transition: 0.2s ease-in-out;
}

.resume_element > a {
    text-decoration: none;
    display: grid;
    place-items: center;
    border-radius: 30px;
    grid-template-rows: 0.1fr 1fr;
}
.resume_element > a > p {
    color: #5A5A5A;
    font-size: 4rem;
    font-weight: 500;
}

.resume_element > a > img {
    height: 200px;
} 

.message_email_element :hover{
    background-color: #bebebe;
    transition: 0.2s ease-in-out;
    border-radius: 30px;
}

.message_email_element > a {
    background-color: #E5E5E5;
    display: grid;
    place-items: center;
    grid-template-rows: 1fr 0.1fr 0.1fr;
    border-radius: 30px;
    text-decoration: none;
}
.message_email_element > a > img {
    height: 200px;
}
.message_email_element > a > :nth-child(2) {
    color: #5A5A5A;
    font-size: 4rem;
    font-weight: 500;
}
.message_email_element > a > :nth-child(3) {
    color: #5A5A5A;
    font-size: 1.25rem;
    font-weight: 500;
    padding-bottom: 10px;
}
.grid_threes{
    width: 95vw;
    height: 760px;
    background-color: blue;
}

/* ***** Project one ***** */
.project_one_container {
    border-radius: 30px;
    display: grid;
    place-items: center;
    background-image: url(./images/project/project-1.webp);
    background-size: cover;
    position: relative;
    overflow: hidden;
}
.project_one_stick{
    border-top-left-radius: 30px;
    border-style: none;
    background-color: #404040;
    width: 200px;
    height: 100px;
    position: absolute;
    top: 0px;
    left: 0px;
}
.project_one_stick:hover {
    transition: 0.2s ease-in-out;
    width: 250px;
    height: 150px;
}
.project_one_stick > a {
    color: #E5E5E5;
    font-size: 2rem;
}
.project_one_text_container {
    margin-left: 5%;
}
.project_one_text_container > img {
    margin-left: 10%;
    width: 331px;
}
.project_one_text_container > :nth-child(2) {
    font-size: 3rem;
    font-weight: 700;
    text-decoration: underline;
}
.project_one_text_container > :nth-child(3) {
    font-size: 1.5rem;
    width: 50%;
    margin-bottom: 15px;
}
.project_one_tech_stacked_container {
    display: flex;
    align-items: center;
    gap: 10px;
}
.project_one_tech_stacked_container > p {
    font-size: 1.5rem;
    font-weight: 700;
}
.project_one_tech_stacked_container > div > img {
    height: 45px;
}
/* Projects programs used */
.project_one_programs_used_container {
    display: flex;
    align-items: center;
    gap: 10px;
}
.project_one_programs_used_container > p {
    font-size: 1.5rem;
    letter-spacing: 0.02em;
    font-weight: 700;
}
.project_one_programs_used_container > div > img {
    height: 45px;
} 

/* ***** Project two ***** */
.project_two_container {
    display: grid;
    place-items: center;
    background-image: url(./images/project/project-2.webp);
    background-size: cover;
    position: relative;
    overflow: hidden;
}
.project_two_stick{
    border-top-right-radius: 30px;
    border-style: none;
    background-color: #E5E5E5;
    width: 200px;
    height: 100px;
    position: absolute;
    top: 0px;
    right: 0px;
}
.project_two_stick:hover {
    transition: 0.2s ease-in-out;
    width: 250px;
    height: 150px;
}
.project_two_stick > a {
    color: #404040;
    font-size: 2rem;
}
.project_two_text_container{
    margin-left: 53%;
}
.project_two_text_container > :first-child {
    color: #D1D1D1;
    font-size: 3rem;
    font-weight: 700;
    text-decoration: underline;
}
.project_two_text_container > :nth-child(2) {
    font-size: 1.5rem;
    color: #D1D1D1;
    margin-bottom: 15px;
}   
.project_two_tech_stacked_container {
    display: flex;
    align-items: center;
    gap: 10px;
}
.project_two_tech_stacked_container > p {
    font-size: 1.5rem;
    font-weight: 700;
    color: #D1D1D1;
}
.project_two_tech_stacked_container > div > img {
    height: 45px;
}

/* ***** contact me***** */
.contact_me_container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 10px;
}
.contact_me_left_side_container {
    display: grid;
    grid-template-rows: 2fr 1fr 4fr;
    gap: 15px;
}
.contact_me_left_side_container > :first-child {
    background-color: #5A5A5A;
    border-radius: 30px;
}
.contact_me_left_side_container > :first-child > :first-child {
    margin-top: 2%;
    margin-left: 10%;
    color: #D1D1D1; 
    font-size: 1.5rem;
}
.contact_me_left_side_container > :first-child > :nth-child(2) {
    margin: 1% auto 0 auto;
    width: 80%;
    color: #D1D1D1; 
    font-size: 2.5rem;
    font-weight: 700;
}
.contact_me_left_side_container > :nth-child(2) > form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    height: 100%;
}
.contact_me_left_side_container > :nth-child(2) > form > input {
    color: #D1D1D1;
    padding-left: 5%;
    font-size: 1.25rem; 
    background-color: #5A5A5A;
    border-style: none;
    border-radius: 15px;
}
.contact_me_left_side_container > :nth-child(2) > form > input::placeholder {
    padding-left: 5%;
    font-size: 1.25rem;
    color: #D1D1D1; 
}
.contact_me_left_side_container > :nth-child(3) > textarea {
    padding-top: 2%;
    padding-left: 5%;
    font-size: 1.25rem;
    color: #D1D1D1; 
    width: 100%;
    height: 100%;
    resize: none;
    border-radius: 30px;
    background-color: #5A5A5A;
}
textarea::placeholder {
    color: #D1D1D1; 
}
.contact_me_right_side_container {
    display: grid;
    grid-template-rows: 2fr 1.3fr;
    gap: 10px;
}
.contact_links {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    gap: 5px;
}
.contact_links > button {
    border-radius: 15px;
    justify-content: space-between;
}
.contact_links :hover {
    border-radius: 30px;
}
.contact_links > button > a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #EFEFEF;
    font-size: 1.25rem;
    border-style: none;
    text-decoration: none;
}
.contact_links > button > a > img {
    filter: invert(100%) sepia(13%) saturate(47%) hue-rotate(2deg) brightness(112%) contrast(87%);
}
.contact_me_email {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #4BAE42;
}
.contact_me_email img {
    width: 60px;
}
.contact_me_number {
    background: #8A4242;
    letter-spacing: 0.25em;
}
.contact_me_number img {
    width: 60px;
}
.contact_me_facebook {
    background: #1877F2;
    letter-spacing: 0.25em;
}
.contact_me_facebook img {
    width: 60px;
}
.contact_me_github {
    background: #404040;
    letter-spacing: 0.25em;
}
.contact_me_github img {
    width: 60px;
}
.contact_me_linkedin {
    background: #0076B3;
    letter-spacing: 0.25em;
}
.contact_me_linkedin img {
    width: 60px;
}
.contact_me_send {
    border-radius: 30px;
    border-style: none;
    background-color: #E5E5E5;
    display: grid;
    grid-template-rows: 2fr 1fr;
    place-items: center;
    font-size: 2.5rem;
    font-weight: 700;
}
.contact_me_send:hover {
    cursor: pointer;
    background-color: #404040;
    color: #E5E5E5;
}
.contact_me_send > img {
    width: 10vw;
}
.contact_me_send:hover > img{
    filter: invert(100%) sepia(0%) saturate(2520%) hue-rotate(297deg) brightness(114%) contrast(80%);
}


@media only screen and (max-width: 450px) {
    .landing_page_text_links_and_logo_container {
        display: grid;
        place-items: center;
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr;
    }
    .my_logo_container > img{
        width: 100vw;
    }
    .project_one_text_container{
        margin-left: 16%;
    }
    .project_one_text_container > img{
        margin-left: 17%;
    }
    .project_one_text_container > :nth-child(3){
        width: 80%;
    }
    .project_two_container{
        background-position: -900px;
    }
    .project_two_text_container{
        margin-left: 22%;
    }
  }
